/* ======= Base ======= */
body {
  font-family: 'Roboto', sans-serif, 'Consolas';
  color: #545E6C !important;;
  background: #d5d5d5;
  font-size: 14px;
  padding: 30px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  color: #2e4049 !important;;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

a:hover {
  text-decoration: underline;
  color: #10171a !important;;
}

a:focus {
  text-decoration: none;
}

p {
  line-height: 1.5;
}

.wrapper {
  background: #4B6A78 !important;;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-wrapper {
  background: #354849 !important;;
  position: absolute;
  left: 0;
  width: 240px;
  height: 100%;
  min-height: 800px;
  color: #fff !important;;
}

.sidebar-wrapper a {
  color: #ffe795 !important;;
}

.sidebar-wrapper .profile-container {
  padding: 30px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #fff !important;;
}

.sidebar-wrapper .name {
  font-size: 32px;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 10px;
  color: #fff !important;
}

.sidebar-wrapper .tagline {
  color: rgba(255, 255, 255, 0.6) !important;;
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
}

.sidebar-wrapper .profile {
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px teal;
}

.sidebar-wrapper .contact-list .fa {
  margin-right: 5px;
  font-size: 18px;
  vertical-align: middle;
  color: #7bba95 !important;
}

.sidebar-wrapper .contact-list li {
  margin-bottom: 15px;
}

.sidebar-wrapper .contact-list li:last-child {
  margin-bottom: 0;
}

.sidebar-wrapper .contact-list .email .fa {
  font-size: 14px;
  color: #7bba95 !important;
}

.sidebar-wrapper .container-block {
  padding: 30px;
  color: #ffe795 !important;
}

.sidebar-wrapper .container-block {
  padding: 30px;
  color: #ffe795 !important;
}

.sidebar-wrapper .container-block-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #ffe795 !important;
  margin-top: 0;
  margin-bottom: 15px;
}

.sidebar-wrapper .degree {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 5px;
}

.sidebar-wrapper .education-container .entry-school {
  font-weight: bold ;
  color: #ffe795 !important;
}

.sidebar-wrapper .education-container .entry-time {
  font-weight: normal ;
  color: #ffe795 !important;
}

.sidebar-wrapper .education-container .entry-desc {
  font-style: italic;
  color: #ffe795 !important;
}

.sidebar-wrapper .education-container .item {
  margin-bottom: 15px;
}

.sidebar-wrapper .education-container .item:last-child {
  margin-bottom: 0;
}

.sidebar-wrapper .education-container .meta {
  color: rgba(255, 255, 255, 0.6) !important;;
  font-weight: 500;
  margin-bottom: 0px;
  margin-top: 0;
}

.sidebar-wrapper .education-container .time {
  color: rgba(255, 255, 255, 0.6) !important;;
  font-weight: 500;
  margin-bottom: 0px;
}

.sidebar-wrapper .language-container .lang-desc {
  color: rgba(255, 255, 255, 0.6) !important;;
}

.sidebar-wrapper .languages-list {
  margin-bottom: 0;
}

.sidebar-wrapper .languages-list li {
  margin-bottom: 10px;
}

.sidebar-wrapper .languages-list li:last-child {
  margin-bottom: 0;
}

.sidebar-wrapper .interests-list {
  margin-bottom: 0;
  color: #ffe795 !important;
}

.sidebar-wrapper .interests-list li {
  margin-bottom: 10px;
  color: #ffe795 !important;
}

.sidebar-wrapper .interests-list li:last-child {
  margin-bottom: 0;
}



.main-wrapper {
  background: #fff !important;;
  padding: 60px;
  padding-left: 300px;
  page-break-before: always;
  border-top: 3px solid #545E6C !important;;
}

.main-wrapper .section-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #7bba95 !important;;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}

.main-wrapper .section-title .fa {
  width: 30px;
  height: 30px;
  /*margin-left: 8px;*/
  margin-right: 10px;
  display: inline-block;
  color: #fff !important;;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #ffe795 !important;;
  text-align: center;
  padding-top: 8px;
  font-size: 16px;
  position: relative;
  top: -2px;
}

.main-wrapper .section {
  margin-bottom: 60px;
  page-break-inside: avoid;
}

.main-wrapper .experiences-section .item {
  margin-bottom: 30px;
}

.main-wrapper .upper-row {
  position: relative;
  overflow: hidden;
  margin-bottom: 2px;
}

.main-wrapper .job-title {
  color: #3F4650 !important;;
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

.main-wrapper .time {
  position: absolute;
  right: 0;
  top: 0;
  color: #97AAC3 !important;;
}

.main-wrapper .company {
  margin-bottom: 10px;
  color: #97AAC3 !important;;
}

.main-wrapper .project-title {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 5px;
}

.main-wrapper .projects-section .intro {
  margin-bottom: 30px;
}

.main-wrapper .projects-section .item {
  margin-bottom: 15px;
}

.skillset .item {
  margin-bottom: 15px;
  overflow: hidden;
}

.skillset .level-title {
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 12px;
}

.skillset .level-bar {
  height: 12px;
  background: #f5f5f5 !important;
}

.skillset .level-bar-inner {
  height: 12px;
  background: #6c92a3 !important;
}

.footer {
  padding: 30px;
  padding-top: 60px;
}

.footer .copyright {
  line-height: 1.6;
  color: #545E6C !important;;
  font-size: 13px;
}

.footer .fa-heart {
  color: #fb866a !important;;
}

.btn-translate {
  background-color: #27383f !important;;
  border-color: #4f6f7d !important;;
}

/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .sidebar-wrapper {
    position: static;
    width: inherit;
  }

  .main-wrapper {
    padding: 30px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
  }

  .main-wrapper .upper-row {
    margin-bottom: 0;
  }
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: left;
    width: 30%;
    margin-bottom: 0;
  }

  .skillset .level-bar {
    display: inline-block;
    width: 70%;
    float: left;
    position: relative;
    top: 1px;
  }
}

/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) */

@media print and (color) {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  .wrapper {
    margin: 0;
  }

  .sidebar-wrapper {
    background: #354849 !important;
  }

  .sidebar-wrapper .container-block-title {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .sidebar-wrapper .container-block {
    padding: 10px;
  }

  .main-wrapper .section-title {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .main-wrapper .section {
    margin-bottom: 10px;
  }

  .footer {
    display: none;
  }

  a {
    text-decoration: none;
    /* Remove underline */
  }

  a::after {
    content: " (" attr(href) ")";
    /* Display href attribute as content after the link text */
  }

  a[href^="mailto:"]::after,
  a[href^="tel:"]::after,
  a[href^="https:"]::after {
    content: "";
    /* Remove href content for mailto and tel links */
  }

}